
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage5.cshtml";
}

<h2 style="text-align:center; margin-top:10px;font-family:'Comic Sans MS';color:ghostwhite">Welcome in Restaurant Management</h2>
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 400px;height:500px;margin-left:60px;margin-top:25px">
            <img class="card-img-top" src="~/Images/restaurant6.jpg">
            <div class="card-body">
                <h3 style="font-family:'Comic Sans MS';text-align:center">Find Your Favourite Menu Restaurants</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 400px;height:500px;margin-left:45px;margin-top:25px">
            <img class="card-img-top" src="~/Images/restaurant2.jpg">
            <div class="card-body">
                <h4 style="font-family:'Comic Sans MS'; text-align:center">Don't Wait.... Visit Us...</h4>
                <a class="btn btn-dark" href="/Restaurant/getRestaurantData" style="margin-top:10px;margin-left:160px">GO</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 400px;height:500px;margin-left:30px;margin-top:25px">
            <img class="card-img-top" src="~/Images/restaurant1.jpeg">
            <div class="card-body">
                <h3 style="font-family:'Comic Sans MS'; text-align:center">Find Restaurants With Their Famous Menus</h3>
            </div>
        </div>
    </div>
</div>
