
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Homepage</h1>

    <a href="@Url.Action("Index","Department")">Get Dept Data</a>
    <a href="@Url.Action("Index","Employee")">Get Emp Data</a>

</body>
</html>
