
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <label>Username</label>
        <input type="text"/>
        <label>Password</label>
        <input  type="password"/>
    </div>
</body>
</html>
