
@{
    ViewBag.Title = "Index";
    @*Layout = "~/Views/Shared/_LayoutPage1.cshtml";*@
}

<h2>**Welcome in HomePage**</h2>
@{
    ViewBag.Message = "Welcome in HomePage";
}

@section sidebaroptions{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Plans</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Home</a>
}
